/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
    background-color: orangered;
    width: 100%;
    height: 100px;
}

.logo img {
    height: 4.35rem;
    margin-top: 1em;
}


/* Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.info {
    text-align: center;
}

.info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.info p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2em;
}

hr {
    color: orangered;
    width: 80%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orangered;
    width: 28%;
    padding: .2em;
}

.search h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-left: .2em;
}

.search #sc-terms,
#bpm {
    border: 1px solid orangered;
    padding: .2em;
    margin-top: .5em;
    margin-left: 2.3em;
}

.search #submit {
    border-radius: 0.5em;
    padding: .5em;
    margin-left: 9em;
    margin-top: .5em;
    color: white;
    background-color: orangered;
    width: 25%;
}

#track-list ul {
    list-style: none;
}

#track-list ul li {
    border: 1px solid orangered;
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#track-list ul li h1 {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: .5em;
}

#track-info {
    width: 90%;
    overflow: hidden;
}

#track-info img {
    margin-right: 15px;
    float: left;
}

#track-info h3 {
    padding-top: .4em;
}


/* Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/*
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
